{% extends 'mini_fb/base.html' %}
{% block content %}
    <h2>Write new status message</h2>

    <form method='POST'>
        <table class="form-table">
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type='submit' name='Write status message' value='Write status message'>
                    {% csrf_token %}
                </td>
            </tr>
        </table>
    </form>

    <form action="{% url 'show_all' %}">
        <input type='submit' name='Cancel' value='Cancel'>
    </form>

{% endblock %}
