{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>All Profiles</h2>
{% for p in profiles %}
<article style="margin-bottom: 20px;"> 
    {% if p.image_url %}
    <a href="{% url 'profile' p.pk %}">
        <img src="{{ p.image_url }}" alt="{{ p.first_name }} {{ p.last_name }}" style="width: 150px; height: 150px;">
    </a>
    {% endif %}
    <div>
        <h3 style="font-size: 18px;">{{ p.first_name }} {{ p.last_name }}, {{ p.city }}</h3>
        {{ p.email }}
    </div>
</article>
    {% endfor %}
{% endblock content %}
