body {
    background-image: linear-gradient(to bottom right, rgb(193, 228, 250), rgb(246, 246, 208));
    font-family: Helvetica, sans-serif;
    margin: 0;
    color: rgba(240, 112, 38, 0.953);
    font-size: 20px;
    text-decoration: none;
}

h1 {
    text-align: center;
    align-items: top;
}

p {
    font-size: 40px;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.primary-btn {
    background-color: rgba(240, 112, 38, 0.953);
    color: white;
    transition: background-color 0.3s ease;
}

.cancel-btn {
    background-color: #ccc;
    color: black;
    transition: background-color 0.3s ease;
}


nav {
    padding-top: 5px;
    align-items: top;
    text-decoration: none;
}

nav ul a {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
}

a:visited { text-decoration: none; color: rgba(240, 112, 38, 0.953); }
a:hover { text-decoration: none; color: rgba(240, 112, 38, 0.953); }
a:focus { text-decoration: none; color: rgba(240, 112, 38, 0.953); }
a:hover, a:active { text-decoration: none; color: rgba(240, 112, 38, 0.953); }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    text-align: center;
    margin-bottom: 0%;
}

.table-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; 
}

.profile-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
    background-color: white;
}

.profile-card img {
    margin-bottom: 10px;
}

.profile-card p {
    margin: 5px 0;
    color: black;
    font-size: 18px;
}