<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}
{% block content %}
    <head>
        <title>About the Voros Twins</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <h1>About the Voros Twins</h1>
        <p>The Voros Twins, Chris and Patrick Vörös, or the Da Vinki Twins, are Hungarian Canadian identical twins who are a professional wrestling tag team and social media personalities.</p>
        <hr>
        
    </body>

    {% endblock %}